body{
    background-color: rgb(255, 209, 124);
}

.card{
    width: 10rem;
    border-radius: 1rem;
}

.card:hover{
    box-shadow: 5px 10px 20px 1px skyblue !important ;
}
.card-body{
    padding: 2rem;
}

.card-text{
    font-size: .7rem;
    padding: .3rem;
}

.container-fluid.row{
    padding-top : 5rem;
}

.card-img-top{
    transform: scale(1);
}

.card-img-top:hover{
    transform:scale(1.8) ;
}